<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Directory</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h1>User Directory</h1>
    <div class="container">
      {{#users}}
        <div class="profile">
          <a href="/profile/{{id}}">
            <img src="{{avatar}}" class="circle">
          </a>
          <a href="/profile/{{id}}">
            <p class="name">{{name}}</p>
          </a>
          <a href="/profile/{{id}}">
            {{#job}}<p class="work">{{job}},{{/job}} {{#company}}{{company}}</p>{{/company}}
            {{^job}}<p class="no-work">Available for hire</p>{{/job}}
          </a>
        </div>
      {{/users}}
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
