<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <div class="profile-details">
      <div class="row">
        <div class="col">
          <img src="{{avatar}}" class="circle">
        </div>
        <div class="col">
          <h1>{{name}}</h1>
          <ul>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i> {{#address.city}} {{address.city}},{{/address.city}} {{address.country}}
              {{#job}}| <i class="fa fa-briefcase" aria-hidden="true"></i> {{job}},{{/job}} {{#company}}{{company}}{{/company}}
              {{^job}}| <p class="no-work"><i class="fa fa-briefcase" aria-hidden="true"></i> Available for hire</p>{{/job}}
            </li>
            <li>
              {{#email}}<i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{email}}?Subject=Hello%20{{name}}" target="_top"> {{email}}</a> |{{/email}} <i class="fa fa-phone" aria-hidden="true"></i> {{phone}}
            </li>
          </ul>
        </div>
      </div>
      <div>
        {{#university}}
          <div class="row">
            <div class="title">
              <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</p>
            </div>
            <div class="info">
              <p>{{university}}</p>
            </div>
          </div>
        {{/university}}
        <div class="row">
          <div class="title">
            <p><i class="fa fa-wrench" aria-hidden="true"></i> Skills</p>
          </div>
          <div class="info">
            <p>
              {{#skills}}
                <ul>
                  <li>{{.}}</li>
                </ul>
              {{/skills}}
            </p>
          </div>
        </div>

      <div class="modify-btn">
        <form action="/delete/{{username}}" method="post">
          <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Robot</button>
        </form>
      </div>
    </div>

    <div class="footer">
      <a href="/">« Back to directory</a>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
